[submodule "tools_sources/NesContainers"]
	path = tools_sources/NesContainers
	url = git@github.com:ClusterM/nes-containers.git
[submodule "tools_sources/NesTiler"]
	path = tools_sources/NesTiler
	url = git@github.com:ClusterM/NesTiler.git
[submodule "tools_sources/nesasm"]
	path = tools_sources/nesasm
	url = git@github.com:ClusterM/nesasm.git
